body {
  background-color: lightgray;
}

.rows {
  display: flex;
  margin-top: -.4rem;
}

section {
  margin: 10px;
}

#knitInstructions {
  width: 75ch;
  height: 5rem;
}

path, svg {
  width: auto;
  height: 40px;
  border-radius: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

svg {
  display: block;
  /*
  margin-right: -.5rem;
  margin-top: -.5rem;
  */
}
path {
  stroke: #646464;
  stroke-width: .1px;
}

