body {
  background-color: lightgray;
}

.rows {
  display: flex;
}

path, svg {
  width: 40px;
  height: 40px;
}

svg {
  display: block;
  margin-right: -.5rem;
  margin-top: -.5rem;
}
path {
  stroke: #646464;
  stroke-width: .5px;
  stroke-linejoin: round;
}

